/*Created By : JR(10/02/2020) | Modify By :  */
.cardForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Created By : JR(10/02/2020) | Modify By :  */
.thNormal th {
    font-weight: normal !important;
}

/*Created By : JR(10/02/2020) | Modify By :  */
label {
    color: #232443 !important;
    font-weight: bold !important;
}

/*Created By : JR(16/03/2020) | Modify By :  */
.modalRow:hover{
    cursor: pointer;
    background-color: #acacac;
}

/*UNTUK LOADING*/
/*Created By : Denni(10/02/2020) | Modify By :  */
.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 99999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*UNTUK FIX HEADER TABLE*/
/*Created By : JR(27/02/2020) | Modify By :  */
.tableFixedHeader {
    overflow-y: auto;
    /*overflow: scroll;*/
    /*overflow: auto;*/
    height: 500px;
}

.tableFixedHeader thead th {
    position: sticky;
    top: 0;
}

.tableFixedHeader th {
    background: #3b3b3b;
    color: white
}

/*UNTUK MERUBAH WARNA PADA FILED DATE*/
/*Created By : JR(27/02/2020) | Modify By :  */
.form-control[readonly] {
    background-color: white;
}

.theadDataTables{
    background-color: #5AA4DD;
    color: white;
}

/*UNTUK MEMBUAT BUTTON LOV DI DALAM FIELD INPUT*/
/*Created By : LEO(07/04/2020) | Modify By :  */
.buttonInside {
    position: relative;
}
.btn-lov{
    position:absolute;
    right: 20px;
    top: 4px;
    border:none;
    height:30px;
    width:30px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
}

.btn-lov2{
    position:absolute;
    right: 0px;
    top: 4px;
    border:none;
    height:30px;
    width:30px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
}
